// Variables
@use './partials/vars.scss' as *;

//Bootstrap
@import 'node_modules/bootstrap/scss/bootstrap.scss';

// Fontsource/Raleway
@import 'node_modules/@fontsource/lato/300.css';
@import 'node_modules/@fontsource/lato/400.css';
@import 'node_modules/@fontsource/lato/500.css';

//Fontawesome
@import 'node_modules/@fortawesome/fontawesome-free/css/all.min.css';

//links
a {
     text-decoration: none;           
}
//Utilities


//General
body{
    font-family: $font-lato;
}

.mc-btn{
    background-color: $pelorus-light;
    padding: 7px 30px;
    cursor: pointer;
    
}
.container{
    width: 90%;
    margin: 0 auto;
}

i.fb{
    color: #3c5998;
}

i.tw{
    color: #54acee;
}

i.ig{
    color: #3f729b;
}
i.yt{
    color: red;
}